@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Set the width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
  background-color: #f1f1f1; /* Set the background color */
  border-radius: 50px;
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #2ac3c3; /* Set the thumb color */
  border-radius: 50px;
}

/* Set the color when the thumb is being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the hover color */
}
